<!DOCTYPE html>

<html>
    <head> 
      <title>About</title>
      <link rel="icon" href="/img/weather.png">
      <link rel="stylesheet" href="/css/styles.css"> 
    </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img class="portrait" src="img/me.jpeg" > 
      <br>
      <br>
      <p1 class="about-me-1">Hello! my name is Adan Escamilla, and im a software engineer from Seattle, Washington!</p1>
      <br>
      <p1 class="about-me-2">Here is my weather app in progress 🛠</p1>
    </div>

    {{>footer}}
  </body>
</html>