<!DOCTYPE html>

<html>
  <head> 
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">  
  </head>

  <body>
    <div class="main-content">
        {{>header}}
        <p>{{helptext}}</p>
        <br>
        <a class="one" href="https://github.com/Adan2000">GitHub</a>
  
        <a class="two" href="https://www.linkedin.com/in/adan-escamilla/">LinkedIn</a>
  
        <a class="three" href="https://mail.google.com/mail/u/0/?fs=1&tf=cm&source=mailto&to=adanescamilla580@gmail.com">Gmail</a>
    </div>

    {{>footer}}
  </body>
</html>
